
body {
	display: flex;
	flex-direction: column;
	font-family: Helvetica, sans-serif;
}

header {
	background-color: #818589;
	padding: 10px;
}
nav {
	margin-top: 50px;
	display: flex;
	gap: 20px;
}

a {
	text-decoration: none;
	color: darkgrey;

}

.headone,
.headtwo {
	display: flex;
	justify-content: space-around;
	align-content: center;
}

h1 {
	font-family: "Brush Script Mt";
	font-size: 50px;
}
